Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint (TypeScript/JavaScript)
  entry: npx eslint
  language: system
  args:
  - --fix
  - --max-warnings=0

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fixes
  .pre-commit-config.yaml
  tsconfig.pre-commit.json
Due: none

Simpler worfklow
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/pre-commit.yml
  .prettierrc
Due: none

Only runs on node 22
  .github/workflows/pr-validation.yml
Due: none

refactor: improve error handling, logging, and healthcheck reporting
  src/ScientificDataEditorProvider.ts
  src/common/ErrorBoundary.ts
  src/common/HealthcheckManager.ts
  src/extension.ts
  src/outline/OutlineProvider.ts
  src/panel/HTMLGenerator.ts
  src/panel/ThemeManager.ts
  src/panel/UIController.ts
  src/panel/webview/webview-script.js
  src/python/ExtensionVirtualEnvironmentManager.ts
Due: eslint, typescript-check

Fix pre-commit
  .eslintrc.js
  .pre-commit-config.yaml
  python/get_data_info.py
  src/common/HealthcheckManager.ts
  src/panel/UIController.ts
Due: eslint, typescript-check

Disable test in pr-validation, and attempt in test-with-display
  .github/workflows/pr-validation.yml
  .github/workflows/test-with-display.yml
Due: none

on pr
  .github/workflows/test-with-display.yml
Due: none

Just run test in the second workflow
  .github/workflows/test-with-display.yml
Due: none

Compile TS before test
  .github/workflows/test-with-display.yml
  package-lock.json
  package.json
Due: none

integrate test with display in single workflow
  .github/workflows/pr-validation.yml
  .github/workflows/test-with-display.yml
Due: none

Update documentation
  CHANGELOG.md
  docs/GITHUB_ACTIONS_SETUP.md
  docs/PRE_COMMIT_SETUP.md
Due: none

Changelog
  CHANGELOG.md
Due: none

investigate CDF format
  .gitignore
  python/issue_104_cdf_file.ipynb
Due: none

Add support for cdflib
  README.md
  docs/RELEASE_NOTES_0.6.0.md
  python/create_sample_data.py
  python/get_data_info.py
  src/common/HealthcheckManager.ts
  src/panel/webview/webview-script.js
  src/python/ExtensionVirtualEnvironmentManager.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

0.6.0
  package-lock.json
  package.json
Due: none

Update CHANGELOG and RELEASE_NOTES and README
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.6.0.md
Due: none

correct release date
  CHANGELOG.md
Due: none

npm audit
  package-lock.json
Due: none

Updated CHANGELOG
  CHANGELOG.md
  docs/RELEASE_NOTES_0.6.0.md
Due: none

Start implem
  docs/IMPLEMENTATION_PROPOSAL_ISSUE_106.md
  python/create_sample_data.py
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageBus.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
  src/types.ts
Due: eslint, typescript-check

Hide time controls when no datetime variables are available
  src/panel/HTMLGenerator.ts
  src/panel/webview/webview-script.js
Due: eslint, typescript-check

Fix datetime variable handling when no common dimensions exist
  python/get_data_info.py
Due: none

Fix multiple datetime handling issues and add text input for datetime entry
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
Due: eslint, typescript-check

Add min/max computation for datetime variables and prefill time inputs
  python/get_data_info.py
  src/panel/webview/webview-script.js
  src/types.ts
Due: eslint, typescript-check

Fix datetime parameters not being passed from webview to extension
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Add CDF file with unordered time variable for testing
  python/create_sample_data.py
Due: none

Add xarray encoding information to displayed attributes
  python/get_data_info.py
Due: none

Update date formatter to show full date information on x-axis
  python/get_data_info.py
Due: none

Update plot suptitle and remove reference date box
  python/get_data_info.py
Due: none

Add comprehensive unit tests for datetime edge cases
  README.md
  docs/IMPLEMENTATION_PROPOSAL_ISSUE_106.md
  package-lock.json
  package.json
  python/get_data_info.py
  python/remote_dataset.ipynb
  python/test_datetime_edge_cases.py
  setup.sh
  test/suite/datetimeEdgeCases.test.ts
Due: typescript-check

Prepare v0.7.0 release: Add release notes, update changelog, and create MR documentation
  CHANGELOG.md
  MERGE_COMMIT_MESSAGE.md
  MERGE_REQUEST_SUMMARY.md
  docs/IMPLEMENTATION_PROPOSAL_ISSUE_106.md
  docs/RELEASE_NOTES_0.7.0.md
Due: none

Add release checklist for v0.7.0
  RELEASE_CHECKLIST.md
Due: none

rm merge commit msg
  MERGE_COMMIT_MESSAGE.md
Due: none

Renamed files
  MERGE_REQUEST_SUMMARY.md
  docs/RELEASE_CHECKLIST_0.7.0.md
Due: none

Fix Ruff linting issues
  python/get_data_info.py
  python/test_datetime_edge_cases.py
Due: none

Update implementation for timestamp variable
  CHANGELOG.md
  docs/RELEASE_NOTES_0.7.0.md
  python/create_sample_data.py
  src/panel/webview/webview-script.js
  src/types.ts
  test/suite/datetimeEdgeCases.test.ts
Due: eslint, typescript-check

Prepare version 0.8.0
  README.md
  package-lock.json
  package.json
Due: none

Add changelog entry for issue #108 fix
  CHANGELOG.md
Due: none

Fix: Kill Python processes on plot timeout (issue #97)
  python/create_sample_data.py
  src/panel/UIController.ts
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: ^(out/|test/|node_modules/|\.vscode-test/)
  typescript-check: any of: \.(ts|tsx)$, but not: ^(out/|node_modules/|\.vscode-test/)
