Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint (TypeScript/JavaScript)
  entry: npx eslint
  language: system
  args:
  - --fix
  - --max-warnings=0

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

feat: drop stale Sentinel-1 SAFE support claims
  package.json
  python/create_sample_data.py
  python/get_data_info.py
  src/panel/webview/webview-script.js
  test/suite/extension.test.ts
Due: eslint, typescript-check

feat: require zarr 3 and pin the xarray 2026 stack
  python/get_data_info.py
  python/test_package_requirements.py
  src/python/ExtensionVirtualEnvironmentManager.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

feat: detect Zarr stores that are not named *.zarr
  python/get_data_info.py
  python/test_zarr_store_detection.py
Due: none

feat: identify Zarr codecs and format version in metadata
  package.json
  python/get_data_info.py
  python/test_zarr_store_detection.py
Due: none

feat: open Zarr stores packaged as ZIP archives
  package.json
  python/get_data_info.py
  python/test_zarr_store_detection.py
  src/panel/webview/webview-script.js
Due: eslint

feat: support xarray col_wrap=auto in plot controls
  README.md
  docs/documentation.json
  python/get_data_info.py
  python/non_regression_test_plot.py
  python/test_col_wrap.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

feat: add NetCDF engine order, HDF5 filters, and inherited DataTree coords
  README.md
  docs/documentation.json
  package.json
  python/get_data_info.py
  python/test_netcdf_datatree_quality.py
  src/common/config.ts
  src/python/DataProcessor.ts
  src/python/ExtensionVirtualEnvironmentManager.ts
  test/suite/config.test.ts
  test/suite/python/displayFeatureFlags.test.ts
Due: eslint, typescript-check

feat: open Kerchunk virtual Zarr references experimentally
  README.md
  docs/documentation.json
  package.json
  python/get_data_info.py
  python/test_kerchunk_references.py
  src/common/config.ts
  src/extension.ts
  src/python/DataProcessor.ts
  test/suite/extension.test.ts
  test/suite/python/displayFeatureFlags.test.ts
Due: eslint, typescript-check

feat: label Cloud Optimized GeoTIFF files in file info
  README.md
  docs/documentation.json
  python/get_data_info.py
  python/test_cog_detection.py
Due: none

feat: add facetgridFigsize setting for faceted xarray plots
  README.md
  docs/documentation.json
  package.json
  python/get_data_info.py
  python/test_facetgrid_figsize.py
  src/common/config.ts
  src/python/DataProcessor.ts
  test/suite/config.test.ts
Due: eslint, typescript-check

chore: release v0.13.0 with changelog and release notes
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.13.0.md
  docs/v0.13/README.md
  package-lock.json
  package.json
Due: none

feat: add v0.13 sample data generators for new formats
  CHANGELOG.md
  docs/RELEASE_NOTES_0.13.0.md
  python/create_sample_data.py
Due: none

docs: complete v0.13.0 release and MR documentation
  CHANGELOG.md
  README.md
  docs/PR_SUMMARY_0.13.0.md
  docs/RELEASE_NOTES_0.13.0.md
  docs/documentation.json
  docs/v0.13/PHASES.md
  docs/v0.13/README.md
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: ^(out/|test/|node_modules/|\.vscode-test/)
  typescript-check: any of: \.(ts|tsx)$, but not: ^(out/|node_modules/|\.vscode-test/)
