Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Scientific Data Viewer
# Implements comprehensive code formatting standardization as per issue #65
# https://github.com/etienneschalk/scientific-data-viewer/issues/65

repos:
  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Match the version in package.json
    hooks:
      - id: prettier
        name: Prettier (TypeScript/JavaScript)
        files: \.(ts|tsx|js|jsx|json|md)$
        args: [--write]
        types: [file]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript/JavaScript)
        entry: npx eslint
        language: system
        files: \.(ts|tsx|js|jsx)$
        args: [--fix, --max-warnings=0]
        exclude: ^(out/|test/|node_modules/|\.vscode-test/)

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1 # Latest stable version
    hooks:
      - id: ruff
        name: Ruff (Python Linting)
        args: [--fix, --exit-non-zero-on-fix]
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: ruff-format
        name: Ruff (Python Formatting)
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Additional file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Latest stable version
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: end-of-file-fixer
        name: Fix End of Files
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-yaml
        name: Check YAML
        files: \.(yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-json
        name: Check JSON
        files: \.(json)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-merge-conflict
        name: Check for merge conflicts
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-added-large-files
        name: Check for large files
        args: [--maxkb=1000] # 1MB limit for binary files

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(out/|node_modules/|\.vscode-test/)

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 2.0.0

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

CreatePlotResult: add applied isel/plot kwargs, style, variable_path; Dimension Slices link to xarray indexing; widen cmap input
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/types.ts
Due: eslint, typescript-check

Fix #125: stop quoting paths/args for get_data_info (paths with spaces)
  CHANGELOG.md
  docs/RELEASE_NOTES_0.9.0.md
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Changelog: note plotting is experimental, justify global/per-group scope
  CHANGELOG.md
Due: none

README: restore detailed Project Structure section and update tree
  README.md
  src/common/utils.ts
Due: eslint, typescript-check

Open Group Plot Controls by default for first root group to promote the feature
  src/panel/webview/webview-script.js
Due: eslint

Fix: pass isFirstRootGroup to renderGroupPlotControls so first group opens by default
  src/panel/webview/webview-script.js
Due: eslint

Docs: clarify global vs group inheritance (per-field mix; only dimension slices atomic)
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.9.0.md
Due: none

npm audit fix
  package-lock.json
Due: none

Per-field inheritance: treat empty/None in group selectors as fallback to global
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.9.0.md
  src/panel/webview/webview-script.js
Due: eslint

Precommit
  README.md
  src/panel/webview/webview-script.js
Due: eslint

feat: collapsible nested attributes view (Issue #120), v0.10.0
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.10.0.md
  docs/XARRAY_NESTED_ATTRIBUTES.md
  package-lock.json
  package.json
  python/create_sample_data.py
  src/common/config.ts
  src/panel/UIController.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  test/suite/config.test.ts
Due: eslint, typescript-check

chore: update release notes and webview script
  docs/RELEASE_NOTES_0.10.0.md
  src/panel/webview/webview-script.js
Due: eslint

docs: nested attributes view on by default, opt-out in release notes and README
  README.md
  docs/RELEASE_NOTES_0.10.0.md
Due: none

refactor: MAX_ATTR_DISPLAY_STR_LENGTH constant; add PR summary for 0.10.0
  docs/PULL_REQUEST_0.10.0.md
  src/panel/webview/webview-script.js
Due: eslint

precommit
  docs/RELEASE_NOTES_0.10.0.md
Due: none

feature suggestions
  docs/suggestions-20260317
Due: none

Fix cmap not applied in group plot controls (Issue #128)
  python/get_data_info.py
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Release v0.10.1: changelog, release notes, version bump
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.10.1.md
  package-lock.json
  package.json
Due: none

Configurable plot timeout (Issue #126)
  CHANGELOG.md
  docs/RELEASE_NOTES_0.10.1.md
  package.json
  src/common/config.ts
  src/panel/UIController.ts
  src/panel/webview/webview-script.js
Due: eslint, typescript-check

Fix webview export timeout when user ignores success popup (Issue #101)
  CHANGELOG.md
  docs/RELEASE_NOTES_0.10.1.md
  src/panel/UIController.ts
Due: eslint, typescript-check

precommit
  CHANGELOG.md
  docs/RELEASE_NOTES_0.10.1.md
  src/panel/webview/webview-script.js
Due: eslint

Fix global Clear Dimension Slices clearing group controls; document in release notes
  docs/RELEASE_NOTES_0.10.1.md
  src/panel/webview/webview-script.js
Due: eslint

Draft for auto publish, and simpler manual script
  .github/workflows/publish.yml
  docs/DRAFT_AUTOMATED_PUBLISHING.md
  publish.sh
Due: none

feat(publish): improve publish script with better checks and automation
  publish.sh
Due: none

chore(publish): README version check, resolve merge conflicts
  publish.sh
Due: none

feat(publish): gh PR/CI checks and automated GitHub release
  .github/workflows/publish.yml
  publish.sh
Due: none

fix(publish): tag and GitHub release before marketplace publish
  .github/workflows/publish.yml
  publish.sh
Due: none

fix(publish): require gh for duplicate-release guard; exit if missing
  publish.sh
Due: none

document publication script
  docs/PUBLISH_SH.md
Due: none

Release v0.10.2: fix robust kwarg for plot.imshow
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.10.2.md
  package-lock.json
  package.json
  python/get_data_info.py
Due: none

docs: align release notes table (v0.10.2)
  docs/RELEASE_NOTES_0.10.2.md
Due: none

plot: keep cmap in _kwargs_for_imshow; log plot_used on stderr
  python/get_data_info.py
Due: none

package lock
  package-lock.json
Due: none

fix(plot): avoid duplicate cmap/aspect in imshow **kwargs
  python/get_data_info.py
Due: none

Refactor create_plot: PlotKwargsBundle, dispatcher, strategy registries
  python/get_data_info.py
Due: none

Add non_regression_test_plot (Issue #117) and hook setup.sh
  python/get_data_info.py
  python/non_regression_test_plot.py
  setup.sh
Due: none

Release v0.11.0 with plotting kwargs and non-regression updates.
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.10.2.md
  docs/RELEASE_NOTES_0.11.0.md
  package-lock.json
  package.json
  python/get_data_info.py
  python/non_regression_test_plot.py
  src/panel/UIController.ts
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Add xarray plot API parser docs and release-note references.
  CHANGELOG.md
  docs/RELEASE_NOTES_0.11.0.md
  docs/XARRAY_PLOT_GUI_DESIGN.md
  docs/XARRAY_PLOT_GUI_DESIGN_llm_interpretation.md
  python/generate_xarray_plot_design_doc.py
Due: none

Improve non reg tests for plots
  python/non_regression_test_plot.py
Due: none

feat(webview): plot controls for vmin, vmax, colorbar, legend
  CHANGELOG.md
  docs/RELEASE_NOTES_0.11.0.md
  src/panel/HTMLGenerator.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check
