Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Scientific Data Viewer
# Implements comprehensive code formatting standardization as per issue #65
# https://github.com/etienneschalk/scientific-data-viewer/issues/65

repos:
  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Match the version in package.json
    hooks:
      - id: prettier
        name: Prettier (TypeScript/JavaScript)
        files: \.(ts|tsx|js|jsx|json|md)$
        args: [--write]
        types: [file]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript/JavaScript)
        entry: npx eslint
        language: system
        files: \.(ts|tsx|js|jsx)$
        args: [--fix, --max-warnings=0]
        exclude: ^(out/|test/|node_modules/|\.vscode-test/)

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1 # Latest stable version
    hooks:
      - id: ruff
        name: Ruff (Python Linting)
        args: [--fix, --exit-non-zero-on-fix]
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: ruff-format
        name: Ruff (Python Formatting)
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Additional file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Latest stable version
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: end-of-file-fixer
        name: Fix End of Files
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-yaml
        name: Check YAML
        files: \.(yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-json
        name: Check JSON
        files: \.(json)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-merge-conflict
        name: Check for merge conflicts
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-added-large-files
        name: Check for large files
        args: [--maxkb=1000] # 1MB limit for binary files

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(out/|node_modules/|\.vscode-test/)

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 2.0.0

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

pre-commit
  docs/RELEASE_NOTES_0.11.0.md
  docs/XARRAY_PLOT_GUI_DESIGN.md
  src/panel/webview/webview-script.js
Due: eslint

chore(python): Ruff py310, PEP 585/604 typing, optional deps cleanup
  CHANGELOG.md
  docs/PRE_COMMIT_SETUP.md
  docs/RELEASE_NOTES_0.11.0.md
  pyproject.toml
  python/check_package_availability.py
  python/create_sample_data.py
  python/generate_xarray_plot_design_doc.py
  python/get_data_info.py
  python/issue_104_cdf_file.ipynb
  python/remote_dataset.ipynb
  python/tests.ipynb
Due: none

release notes
  docs/RELEASE_NOTES_0.11.0.md
Due: none

package lock
  package-lock.json
Due: none

fix(plot): strip add_legend on generic DataArray.plot unless hue (#134)
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  python/get_data_info.py
  python/non_regression_test_plot.py
Due: none

package-lock.json
  package-lock.json
Due: none

Add decode_cf degraded mode for broken CF time units (#136)
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.11.2.md
  package-lock.json
  package.json
  python/create_sample_data.py
  python/get_data_info.py
  python/test_decode_cf_fallback.py
  src/panel/webview/webview-script.js
  src/types.ts
Due: eslint, typescript-check

Fix attribute display truncation for HTML special chars (#137)
  CHANGELOG.md
  docs/RELEASE_NOTES_0.11.2.md
  python/create_sample_data.py
  python/test_compound_dtype_sample.py
  src/panel/webview/webview-script.js
Due: eslint

npm audit fix
  package-lock.json
Due: none

Notes about the state of the project - April 2026 - Ai-generated
  docs/Current State of the project - April 2026.md
Due: none

Improve file-open performance with worker, lazy reprs, and timing (v0.12.0).
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  python/get_data_info.py
  python/python_worker.py
  python/test_performance_features.py
  setup.sh
  src/DataViewerPanel.ts
  src/common/PerformanceTimer.ts
  src/common/config.ts
  src/extension.ts
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
  src/python/PythonWorkerClient.ts
  test/suite/common/PerformanceTimer.test.ts
  test/suite/config.test.ts
  test/suite/dataProcessor.test.ts
Due: eslint, typescript-check

Fix worker JSON serialization so NetCDF files open in the webview.
  CHANGELOG.md
  python/python_worker.py
  python/test_performance_features.py
  src/python/PythonWorkerClient.ts
Due: eslint, typescript-check

Document v0.12.0 and hide outline pane when disabled.
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.12.0.md
  package.json
Due: none

Add metadata cache, external webview assets, and v0.12.0 docs.
  CHANGELOG.md
  docs/RELEASE_NOTES_0.12.0.md
  package.json
  python/get_data_info.py
  python/test_datetime_min_max.py
  setup.sh
  src/DataViewerPanel.ts
  src/common/config.ts
  src/extension.ts
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/python/DataInfoCache.ts
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
  test/suite/config.test.ts
  test/suite/dataProcessor.test.ts
  test/suite/python/DataInfoCache.test.ts
Due: eslint, typescript-check

Fix refresh button to fully reload the webview (issue #139).
  CHANGELOG.md
  src/DataViewerPanel.ts
  src/panel/UIController.ts
  src/panel/communication/MessageBus.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/webview-script.js
  src/python/DataInfoCache.ts
  test/suite/python/DataInfoCache.test.ts
Due: eslint, typescript-check

Improve webview loading UX and guard refresh/export header buttons.
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.12.0.md
  docs/WEBVIEW_EXPORT_CONTENT.md
  python/create_sample_data.py
  python/test_many_groups_light_sample.py
  setup.sh
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
Due: eslint, typescript-check

Update package-lock.json for undici 7.28.0.
  package-lock.json
Due: none

Add performance roadmap doc for post-v0.12.0 backlog.
  README.md
  docs/PERFORMANCE_ROADMAP.md
  docs/RELEASE_NOTES_0.12.0.md
Due: none

Scope v0.12.0 to performance logging and external webview assets.
  CHANGELOG.md
  README.md
  docs/PERFORMANCE_ROADMAP.md
  docs/RELEASE_NOTES_0.12.0.md
  docs/WEBVIEW_EXPORT_CONTENT.md
  package.json
  python/create_sample_data.py
  python/get_data_info.py
  python/python_worker.py
  python/test_datetime_min_max.py
  python/test_many_groups_light_sample.py
  python/test_performance_features.py
  setup.sh
  src/common/config.ts
  src/extension.ts
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageBus.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataInfoCache.ts
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
  src/python/PythonWorkerClient.ts
  test/suite/config.test.ts
  test/suite/dataProcessor.test.ts
  test/suite/python/DataInfoCache.test.ts
Due: eslint, typescript-check

Add settings for group order and xarray encoding attributes.
  CHANGELOG.md
  docs/RELEASE_NOTES_0.12.0.md
  package.json
  python/get_data_info.py
  python/test_display_feature_flags.py
  src/common/config.ts
  src/python/DataProcessor.ts
  test/suite/config.test.ts
Due: eslint, typescript-check

Document display feature flags and add unit tests.
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.12.0.md
  python/test_display_feature_flags.py
  setup.sh
  src/python/DataProcessor.ts
  test/suite/python/displayFeatureFlags.test.ts
Due: eslint, typescript-check

precommit update
  src/panel/communication/MessageTypes.ts
  src/types.ts
Due: eslint, typescript-check

Add README generator and align outline group order with viewer.
  AUTO_DOCUMENTATION.md
  docs/documentation.json
  python/create_sample_data.py
  scripts/generate_readme.py
  src/DataViewerPanel.ts
  src/outline/HeaderExtractor.ts
  test/suite/outline/HeaderExtractor.test.ts
Due: eslint, typescript-check

Register NASA CDF as a separate language from NetCDF.
  AUTO_DOCUMENTATION.md
  docs/documentation.json
  package.json
  src/extension.ts
  test/suite/extension.test.ts
Due: eslint, typescript-check

Source settings docs from package.json and fix healthcheck pane status.
  AUTO_DOCUMENTATION.md
  docs/documentation.json
  package.json
  scripts/generate_readme.py
  src/common/HealthcheckManager.ts
Due: eslint, typescript-check

Improve uv venv package upgrades with verbose logging and version info.
  src/python/ExtensionVirtualEnvironmentManager.ts
  src/python/ExtensionVirtualEnvironmentManagerUI.ts
Due: eslint, typescript-check

Make README.md the generated doc and gate publish on doc sync.
  .pre-commit-config.yaml
  AUTO_DOCUMENTATION.md
  CHANGELOG.md
  README.md
  publish.sh
  scripts/generate_readme.py
Due: none

remove warning
  docs/documentation.json
Due: none

Run README sync check before git branch validation in publish.
  README.md
  publish.sh
Due: none

Source README commands from package.json and document enum settings.
  README.md
  docs/documentation.json
  package.json
  scripts/generate_readme.py
Due: none

Log panel active even when outline disabled
  src/DataViewerPanel.ts
Due: eslint, typescript-check

readd readme in precommit
  .pre-commit-config.yaml
Due: none

include readme gen in publish script
  CHANGELOG.md
  README.md
  publish.sh
Due: none

More descr
  docs/documentation.json
Due: none

More descr 2
  README.md
Due: none

Align file icon to the right
  media/icon_viridis_bold_monochromatic.svg
  media/icon_viridis_bold_monochromatic___old.svg
Due: none

Format generated README with Prettier to match pre-commit.
  scripts/generate_readme.py
Due: none

Fix unstyled webview HTML export and ship v0.12.1.
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.12.1.md
  docs/WEBVIEW_EXPORT_CONTENT.md
  package-lock.json
  package.json
  src/panel/HTMLGenerator.ts
  src/panel/ThemeManager.ts
  src/panel/UIController.ts
  test/suite/ui/webviewExport.test.ts
Due: eslint, typescript-check

docs: plan v0.13 technology updates
  docs/v0.13/OUT_OF_SCOPE.md
  docs/v0.13/PHASES.md
  docs/v0.13/README.md
  docs/v0.13/TO_IMPLEMENT.md
  docs/v0.13/TO_REMOVE.md
Due: none
