Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Scientific Data Viewer
# Implements comprehensive code formatting standardization as per issue #65
# https://github.com/etienneschalk/scientific-data-viewer/issues/65

repos:
  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Match the version in package.json
    hooks:
      - id: prettier
        name: Prettier (TypeScript/JavaScript)
        files: \.(ts|tsx|js|jsx|json|md)$
        args: [--write]
        types: [file]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript/JavaScript)
        entry: npx eslint
        language: system
        files: \.(ts|tsx|js|jsx)$
        args: [--fix, --max-warnings=0]
        exclude: ^(out/|test/|node_modules/|\.vscode-test/)

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1 # Latest stable version
    hooks:
      - id: ruff
        name: Ruff (Python Linting)
        args: [--fix, --exit-non-zero-on-fix]
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: ruff-format
        name: Ruff (Python Formatting)
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Additional file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Latest stable version
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: end-of-file-fixer
        name: Fix End of Files
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-yaml
        name: Check YAML
        files: \.(yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-json
        name: Check JSON
        files: \.(json)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-merge-conflict
        name: Check for merge conflicts
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-added-large-files
        name: Check for large files
        args: [--maxkb=1000] # 1MB limit for binary files

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(out/|node_modules/|\.vscode-test/)

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 2.0.0

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add Cancel All button with concurrency-limited Plot All
  src/panel/HTMLGenerator.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/PythonManager.ts
Due: eslint, typescript-check

Add server-side timeout as safety net for runaway processes
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

Updated client timeout to 15s, server timeout to 20s
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

pre-commit
  src/panel/UIController.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

Add changelog entry for issue #97 fix
  CHANGELOG.md
Due: none

Abort all active Python processes on extension deactivation
  src/extension.ts
Due: eslint, typescript-check

Fix "Format: Unknown" always shown in File Information section
  src/panel/webview/webview-script.js
Due: eslint

Add changelog entry for issue #99 fix
  CHANGELOG.md
Due: none

Fix hardcoded viridis colormap to use xarray auto-detection (issue #103)
  CHANGELOG.md
  python/get_data_info.py
Due: none

Draft for auto publish, and simpler manual script
  .github/workflows/publish.yml
  docs/DRAFT_AUTOMATED_PUBLISHING.md
  publish.sh
Due: none

feat(publish): improve publish script with better checks and automation
  publish.sh
Due: none

publish script
  publish.sh
Due: none

chmod
  publish.sh
Due: none

feat(publish): add release notes existence check
  publish.sh
Due: none

Changelog and release notes for v0.8.0
  CHANGELOG.md
  docs/RELEASE_NOTES_0.8.0.md
Due: none

docs: update changelog date to 2025-12-11 for version 0.8.0
  CHANGELOG.md
Due: none

Fixed publish script (direct commit on main)
  publish.sh
Due: none

feat: add .grb2 extension support and bump to 0.8.1 (fixes #116)
  CHANGELOG.md
  README.md
  docs/PR_SUMMARY_0.8.1_grb2.md
  docs/RELEASE_NOTES_0.8.1.md
  package.json
  python/get_data_info.py
  src/panel/webview/webview-script.js
  test/suite/extension.test.ts
Due: eslint, typescript-check

Bump version in package-lock.json to 0.8.1
  package-lock.json
Due: none

Update create sample data script
  python/create_sample_data.py
Due: none

comment about pytest required in global python install in setup.sh
  setup.sh
Due: none

pre-commit
  docs/RELEASE_NOTES_0.8.1.md
Due: none

fix: use uv venv --clear to allow reinit after reinstall (fixes #115)
  CHANGELOG.md
  docs/PR_SUMMARY_0.8.1_issue_115_uv_clear.md
  docs/RELEASE_NOTES_0.8.1.md
  src/python/ExtensionVirtualEnvironmentManager.ts
Due: eslint, typescript-check

debug: log package availability check result for issue #118 investigation
  src/python/PythonManager.ts
Due: eslint, typescript-check

fix: flush stdout in package check script for Windows (issue #118)
  python/check_package_availability.py
Due: none

docs: add consolidated PR summary for 0.8.1 (issues #115, #116, #118)
  docs/PR_SUMMARY_0.8.1.md
Due: none

package-lock.json
  package-lock.json
Due: none

docs: CHANGELOG entry for #118 (flush + parse resilience for Windows)
  CHANGELOG.md
Due: none

CHANGELOG update
  .vscode/settings.json
  CHANGELOG.md
  src/panel/HTMLGenerator.ts
Due: eslint, typescript-check

old settings
  .vscode/settings.json
Due: none

npm audit fix
  package-lock.json
  package.json
Due: none

Added useful link for publishing
  docs/PUBLISHING.md
Due: none

feat: log full executable command for copy-paste (fixes #121)
  src/python/PythonManager.ts
Due: eslint, typescript-check

feat: display scalar and small array values in variable/coord info (#102)
  python/get_data_info.py
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/types.ts
Due: eslint, typescript-check

feat: dimension slice UI and isel/facet support for plotting (#117)
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

chore: bump to 0.9.0, CHANGELOG and release notes for #102 #117 #121
  CHANGELOG.md
  docs/RELEASE_NOTES_0.9.0.md
  package-lock.json
  package.json
Due: none

fix: variable info layout when display_value is shown (#102)
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
Due: eslint

fix: dimension-slice errors and logging (#117)
  python/get_data_info.py
  src/common/utils.ts
  src/panel/UIController.ts
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

Log full command
  python/check_package_availability.py
  src/python/PythonManager.ts
Due: eslint, typescript-check

Release 0.8.2: changelog, version bump, README, release notes
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.8.2.md
  package-lock.json
  package.json
Due: none
