Repository etienneschalk/scientific-data-viewer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Scientific Data Viewer
# Implements comprehensive code formatting standardization as per issue #65
# https://github.com/etienneschalk/scientific-data-viewer/issues/65

repos:
  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8 # Match the version in package.json
    hooks:
      - id: prettier
        name: Prettier (TypeScript/JavaScript)
        files: \.(ts|tsx|js|jsx|json|md)$
        args: [--write]
        types: [file]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript/JavaScript)
        entry: npx eslint
        language: system
        files: \.(ts|tsx|js|jsx)$
        args: [--fix, --max-warnings=0]
        exclude: ^(out/|test/|node_modules/|\.vscode-test/)

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1 # Latest stable version
    hooks:
      - id: ruff
        name: Ruff (Python Linting)
        args: [--fix, --exit-non-zero-on-fix]
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: ruff-format
        name: Ruff (Python Formatting)
        files: \.py$
        types: [python]
        exclude: ^(out/|node_modules/|\.vscode-test/)

  # Additional file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Latest stable version
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: end-of-file-fixer
        name: Fix End of Files
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-yaml
        name: Check YAML
        files: \.(yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-json
        name: Check JSON
        files: \.(json)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-merge-conflict
        name: Check for merge conflicts
        files: \.(ts|tsx|js|jsx|py|md|json|yaml|yml)$
        exclude: ^(out/|node_modules/|\.vscode-test/)

      - id: check-added-large-files
        name: Check for large files
        args: [--maxkb=1000] # 1MB limit for binary files

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(out/|node_modules/|\.vscode-test/)

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 2.0.0

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

ci: add Windows to PR validation matrix with virtual display
  .github/workflows/pr-validation.yml
  README.md
  test/runTest.ts
Due: typescript-check

precommit
  CHANGELOG.md
  README.md
Due: none

Enable log handover and add debug logging for package availability check
  python/check_package_availability.py
  src/python/PythonManager.ts
Due: eslint, typescript-check

Windows: prefer python over python3 in fallback paths, log stderr at INFO when stdout empty
  src/python/PythonManager.ts
Due: eslint, typescript-check

Windows: log package-check script to temp file, extension reads and logs it after run
  python/check_package_availability.py
  src/python/PythonManager.ts
Due: eslint, typescript-check

update
  python/check_package_availability.py
Due: none

Windows: use detached only when operationId set; fixes empty stdout (Issue #118)
  src/python/PythonManager.ts
Due: eslint, typescript-check

Spawn Python with shell: false; abort by killing child (fixes plots on Windows)
  src/python/PythonManager.ts
Due: eslint, typescript-check

Changelog/release notes: document #118 root cause; remove SDV_DEBUG_LOG log file logic
  CHANGELOG.md
  docs/RELEASE_NOTES_0.8.2.md
  python/check_package_availability.py
  src/python/PythonManager.ts
Due: eslint, typescript-check

precommit
  src/python/PythonManager.ts
Due: eslint, typescript-check

retrgierer
  python/check_package_availability.py
Due: none

CI: expose extension debug/info logs in test output; update release notes and changelog
  CHANGELOG.md
  docs/RELEASE_NOTES_0.8.2.md
  src/common/Logger.ts
  test/runTest.ts
Due: eslint, typescript-check

Fix duplicate CI logs; update changelog and release notes
  CHANGELOG.md
  docs/RELEASE_NOTES_0.8.2.md
  src/common/Logger.ts
Due: eslint, typescript-check

precommit
  CHANGELOG.md
Due: none

README: clarify 0.8.0/0.8.1 Windows issues, 0.8.2 fix attempt, 0.7.0 fallback
  README.md
Due: none

feat: dimension slice UI and isel/facet support for plotting (#117)
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

feat: display scalar and small array values in variable/coord info (#102)
  python/get_data_info.py
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/types.ts
Due: eslint, typescript-check

chore: bump to 0.9.0, CHANGELOG and release notes for #102 #117 #121
  CHANGELOG.md
  docs/RELEASE_NOTES_0.9.0.md
  package-lock.json
Due: none

fix: variable info layout when display_value is shown (#102)
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
Due: eslint

fix: dimension-slice errors and logging (#117)
  python/get_data_info.py
  src/common/utils.ts
  src/panel/UIController.ts
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

precommit
  CHANGELOG.md
  docs/RELEASE_NOTES_0.9.0.md
  package-lock.json
  python/get_data_info.py
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
  src/python/PythonManager.ts
Due: eslint, typescript-check

style: align Dimension Slices UI with Time Controls and VSCode theme (#117)
  src/panel/webview/styles.css
Due: none

Global and Group Plot Controls; dimension-slices and matplotlib fixes
  docs/RELEASE_NOTES_0.9.0.md
  package.json
  python/get_data_info.py
  src/common/config.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Move Group Plot Controls first (before Dimensions), match section styling
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
Due: eslint

Disable Global and Group Time Controls by default; document rationale
  package.json
  src/common/config.ts
Due: eslint, typescript-check

Add bins plot kwarg to Dimension Slices UI (Issue #117)
  python/get_data_info.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Fix bins: use explicit plot.hist() when bins set; add Issue #117 notebook
  notebooks/issue-0117-select-and-slice-before-plotting.ipynb
  python/get_data_info.py
Due: none

Export webview: preserve user-filled inputs and make them read-only
  src/panel/webview/webview-script.js
Due: eslint

Honor facet_row for 3D plots; user facet params override defaults
  python/get_data_info.py
Due: none

Separate user-provided vs auto-plot; use .plot() for facets to support 1D panels
  notebooks/issue-0117-select-and-slice-before-plotting.ipynb
  python/get_data_info.py
Due: none

Release notes: document Global vs Group precedence; export: fix facet select in HTML
  docs/RELEASE_NOTES_0.9.0.md
  src/panel/webview/webview-script.js
Due: eslint

Fix ESLint: eqeqeq and remove unused groupPlotState
  CHANGELOG.md
  docs/RELEASE_NOTES_0.9.0.md
  notebooks/issue-0117-select-and-slice-before-plotting.ipynb
  package-lock.json
  package.json
  python/get_data_info.py
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Updates to webview-script and DataProcessor
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

Release 0.9.0: README version, release notes TL;DR, changelog, .vscodeignore
  .vscodeignore
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.9.0.md
  package-lock.json
Due: none

docs: README Dimension Slices, feature flags, project structure; add unit tests
  README.md
  python/test_dimension_slices_and_small_value.py
  test/suite/config.test.ts
  test/suite/dataProcessor.test.ts
Due: typescript-check

Issue #102: Add smallVariableBytes and smallValueDisplayMaxLen config
  README.md
  package.json
  python/get_data_info.py
  src/common/config.ts
  src/python/DataProcessor.ts
  test/suite/config.test.ts
Due: eslint, typescript-check

Plot params: cmap, col_wrap, aspect/size float, layout, xarray kwarg labels
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_0.9.0.md
  python/get_data_info.py
  python/test_dimension_slices_and_small_value.py
  src/panel/HTMLGenerator.ts
  src/panel/UIController.ts
  src/panel/communication/MessageTypes.ts
  src/panel/webview/styles.css
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
  test/suite/dataProcessor.test.ts
Due: eslint, typescript-check

Lint/format: webview-script.js and DataProcessor.ts
  src/panel/webview/webview-script.js
  src/python/DataProcessor.ts
Due: eslint, typescript-check

cmap: auto branch when only cmap set; explicit imshow in default path for 2D+
  python/get_data_info.py
Due: none

alignment
  src/panel/webview/webview-script.js
Due: eslint
